[project]
name = "mcp-with-fastapi"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.116.1",
    "fastapi-mcp>=0.4.0",
    "pydantic>=2.11.7",
]
